<!DOCTYPE html>
<html>
<head>
	<title>AssetMgmt</title>
</head>
<body>

<div class="row" id="header">
	<div class="col-lg-4">
		<div id="heading">
			<strong>
				<a href="#">TW Inventory</a>
				<span id="user_type">Admin</span>
			</strong>
		</div>
	</div>

	<div class="col-lg-offset-4 col-lg-4">
		<div id="user" class="pull-right">
			<span>vishalsh</span>
		</div>
	</div>
</div>

<div id="sidebar">

	<ul>
		<li>
			<a href="#admins">Admins</a>
		</li>
		<li>
			<a href="#assets">Assets</a>
		</li>
		<li>
			<a href="#asset_types">Asset types</a>
		</li>
		<li>
			<a href="#">Assignments</a>
		</li>
		<li>
			<a href="#companies">Companies</a>
		</li>
		<li>
			<a href="#models">Models</a>
		</li>
		<li>
			<a href="#offices">Offices</a>
		</li>
	</ul>
</div>

<div class="page-navigations"></div>
<div class="page-content"></div>

<%= stylesheet_link_tag "application", media: "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>


<%= render 'asset_types/list' %>
<%= render 'asset_types/new' %>

<%= render 'assets/list' %>
<%= render 'assets/new' %>

<%= render 'admins/list' %>
<%= render 'admins/new' %>

<%= render 'companies/list' %>
<%= render 'companies/new' %>

<%= render 'models/list' %>
<%= render 'models/new' %>

<%= render 'offices/list' %>
<%= render 'offices/new' %>

</body>
</html>